<p id="notice"><%= notice %></p>

<h1>Professors</h1>

<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Average Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @professors.zip(@total_average_ratings) do |professor, average_rating| %>
      <tr>
        <td><%= link_to professor.full_name, professor %></td>
        <td><%= number_with_precision(average_rating, :precision => 2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professor', new_professor_path %>
