<div class="container">
  <div class="main-container">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-md-10">
        <h1>Courses</h1>
        <p>View all of the existing courses or classes here. Know a course that hasn't been added yet? Feel free to add it!</p>
      </div>
      <div class="col-md-2 ml-auto">
        <%= link_to 'New Course', new_course_path, class: "btn btn-md btn-custom btn-blue" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <% if !@courses.empty? %>
          <ul>
            <% @courses.each do |course| %>
                <li><%= link_to course.title, course %></li>
            <% end %>
          </ul>
        <% else %>
          <p>No courses have been added yet to ProfRate.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

