<div class="container">
  <div class="main-container">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-5 mx-auto">
        <h1>New Review</h1>

        <%= render 'form', review: @review %>
        <%= link_to 'Back', show_reviews_path(:professor_id => @professor_id, :course_id => @course_id), class: "link-blue" %>
      </div>
    </div>
  </div>
</div>